# Ignore compiled python code
*.pyc
# Ignore MacOSX directory info
.DS_Store
# VS user project files
*.suo
*.user
*.opensdf
bin/*

/lib/
Debug_bc_librockettest_vc12_arm
build_bc_librockettest_vc12
/Samples/basic/marmalade/build_bc_librocket_vc12
